Options -Indexes

<Files "mail-config.php">
  Require all denied
</Files>

<FilesMatch "^\.(.*)$">
  Require all denied
</FilesMatch>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
